/*Header 1 font and color*/
h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;;
  color: white;
  text-align: center;
}

/*Page background and alignment*/
html {
  background-color: black;
  text-align: center;
}

/* Text style*/
p {
  color: aquamarine;
  font-size: 16px;
}

/*Subheader h2 style*/
h2 {
  font-family: Verdana;
  color: white;
  font-size: 42px;
  font-weight: 300;
}

/*Style for excursion places and copy right text*/
.places {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

/*Style for copy right text*/
.excursion {
  text-align: right;
  color: grey;
}
